body{
  padding-left: 15%;
  padding-right: 15%;
}
h2{
  font-family: helvetica;
  color: darkgreen;
}
p{
  font-family: helvetica;
  color: darkgreen;
}
ul{
  font-family: times;
  color: turquoise;
}
ol{
  font-family: times;
  color: cyan;
}
#list{
  float:left;
  width: 40%;
}
#listOne{
  float: left;
  width: 33%;
}
#listTwo{
  float: left;
  width: 33%;
}
#listThree{
  float: left;
  width: 33%;
}
.story{
  color: green;
}
html{
  border: 5px dashed white;
  background-color: black;
}
.document{
  border: 5px solid white;
  background-color: darkblue;
  color: lightpink;

}
