body{
  padding-left: 10%;
  padding-right: 10%;
}
h2{
  font-family: helvetica;
  color: darkgreen;
}
p{
  font-family: helvetica;
  color: darkgreen;
}
ul{
  font-family: times;
  color: lightblue;
}
#biography{
  font-family: sans-serif;
  color: white;
}
.story{
  color: green;
}
html{
  border: 5px dashed white;
  align-items: center;
  background-color: black;
}
