h1{
  font-family: helvetica;
}
p{
  background-color: orange;
  color: black;
}
#p_3{
  background-color: purple;
  color: yellow;
}
.paragraph{
  background-color: #0000FF;
  color: lightgreen;
}
html{
  border: 5px dashed #FF0000;
}
