h2{
  font-family: helvetica;
  color: darkgreen;
}
p{
  font-family: helvetica;
  color: darkgreen;
}
ul{
  font-family: times;
  color: darkblue;
}
#biography{

}
.story{

}
html{
  border: 5px dashed white;
  align-items: center;
  background-color: black;
}
